* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: "Prompt", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    margin: 30px auto;
}

.triesMainContainer {
    /* margin-top: 50px; */
}

.line {
    height: 1px;
    background-color: rgb(68, 67, 67);
    margin: 30px 0;
}

.triesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    width: 50px;
    height: 60px;
    font-size: 40px;
    color: white;
    background-color: rgb(87, 87, 87);
    border-radius: 3px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    border-radius: 3;
    align-items: center;
    margin: 10px 5px;
}

.contains {
    background-color: rgb(214, 214, 22);
}

.rightPlace {
    background-color: rgb(16, 141, 16);
}

.input {
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 14px;
    font-size: 22px;
    max-width: 220px;
    text-align: center;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(105, 104, 104);
    color: white;
    border-radius: 8px;
}
